In [1]:
# Importing the libraries
import numpy as np
import pandas as pd

In [2]:
#read data
df = pd.read_csv('F:\FCAI-CU(4-1)\machine\Assignment1\customer_data.csv')
df

     age  salary  purchased
0     44   39000          0
1     32  120000          1
2     38   50000          0
3     32  135000          1
4     52   21000          1
..   ...     ...        ...
395   27   96000          1
396   23   63000          0
397   48   33000          1
398   48   90000          1
399   42  104000          1

[400 rows x 3 columns]

In [3]:
df = pd.read_csv('F:\FCAI-CU(4-1)\machine\Assignment1\customer_data.csv')
df.head()

   age  salary  purchased
0   44   39000          0
1   32  120000          1
2   38   50000          0
3   32  135000          1
4   52   21000          1

Exploring the data

In [4]:
# information about each column in dataset
#here it is defind as data.info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        400 non-null    int64
 1   salary     400 non-null    int64
 2   purchased  400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [5]:
# statistical analysis
df.describe()

              age         salary   purchased
count  400.000000     400.000000  400.000000
mean    37.655000   69742.500000    0.357500
std     10.482877   34096.960282    0.479864
min     18.000000   15000.000000    0.000000
25%     29.750000   43000.000000    0.000000
50%     37.000000   70000.000000    0.000000
75%     46.000000   88000.000000    1.000000
max     60.000000  150000.000000    1.000000

In [6]:
#the number of rows and coloums in x and y
df.shape

(400, 3)

In [7]:
# detect if missing values found in customer file
df.isna().sum()

age          0
salary       0
purchased    0
dtype: int64

In [8]:
#detect the duplicated rows
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
395    False
396    False
397     True
398    False
399    False
Length: 400, dtype: bool

In [9]:
#return the number of duplicated rows
df.duplicated().sum()

33

In [10]:
df = df.drop_duplicates()

In [11]:
#assign the features to x and class to y
X = df[['age', 'salary']]
y = df['purchased']

Shuffle the Data

In [12]:
df = df.sample(frac = 1)
print(df)

     age  salary  purchased
354   59   88000          1
49    35   75000          0
228   41   63000          0
21    60  102000          1
107   35   27000          0
..   ...     ...        ...
176   58   95000          1
330   21   88000          0
219   26   16000          0
269   20   36000          0
383   26   35000          0

[367 rows x 3 columns]

**Normalization**

In [13]:
df = (df - np.min(df)) / (np.max(df) - np.min(df))

c:\Python311\Lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.min(axis=None) will return a scalar min over the entire DataFrame. To retain the old behavior, use 'frame.min(axis=0)' or just 'frame.min()'
  return reduction(axis=axis, out=out, **passkwargs)
c:\Python311\Lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

Split Dataset to training and testing

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
print(X_train.shape[0])
print(X_test.shape[0])

275
92

In [15]:
from sklearn.model_selection import train_test_split

training_data, testing_data = train_test_split(df, test_size=0.2)
print(X_train.shape[0])
print(X_test.shape[0])

275
92

In [16]:
#convert pandas dataframes to numpy arrays
X_train, X_test, y_train, y_test = X_train.to_numpy(), X_test.to_numpy(), y_train.to_numpy(), y_test.to_numpy()

**Logistic Regression CLass**

In [17]:
class LogisticRegression():
    #decleare the learning rate and number of iterations
    def __init__(self,learningRate, numofIteration):
        self.learningRate = learningRate
        self.numofIteration = numofIteration

#train the dataset
    def fit(self,x,y):
        #m= number of rows , n = number of columns 
        self.m,self.n = X.shape
        #intialize the weight and bias values z=wx+b
        self.w = np.zeros(self.n)
        self.b=0
        self.X= x
        self.Y= y
        #Griadent descent for the optimization
        for i in range(self.numofIteration):
            self.updateWeights()

    #update the values 
    def updateWeights(self):
        sigmoid = 1/(1+np.exp(-(self.X.dot(self.w)+self.b))) #z = wx + b 
        #derviatives
        dw = (1/self.m)*np.dot(self.X.T,(sigmoid-self.Y))
        db = (1/self.m)*np.sum(sigmoid-self.Y)

        #update the weights
        self.w = self.w - self.learningRate*dw
        self.b = self.b - self.learningRate*db
        
#predict the data 
    def predict(self, X):
        Y_pred = 1 / (1 + np.exp( - (X.dot(self.w) + self.b ) ))     
        Y_pred = np.where( Y_pred > 0.5, 1, 0)
        return Y_pred

In [18]:
def accuracy_score(Y_p,Y_T):
        testing_correctly_classified=0
        i = 0
        for i in range (np.size(Y_p)):
            if Y_p[i]==Y_T[i]:
                testing_correctly_classified= testing_correctly_classified +1
            i = i +1
        result =(testing_correctly_classified/i )
        return result

Train the model on training data

In [19]:

classifier = LogisticRegression(learningRate= 0.03, numofIteration= 10000)
classifier.fit (X_train,y_train)
#to calculate the accuracy
#predict data in traning set 
Y_prediction_train = classifier.predict(X_train)
#predict the data in testing set
Y_prediction_test = classifier.predict(X_test)

C:\Users\1\AppData\Local\Temp\ipykernel_18136\2723602151.py:22: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1+np.exp(-(self.X.dot(self.w)+self.b))) #z = wx + b
C:\Users\1\AppData\Local\Temp\ipykernel_18136\2723602151.py:33: RuntimeWarning: overflow encountered in exp
  Y_pred = 1 / (1 + np.exp( - (X.dot(self.w) + self.b ) ))

In [20]:
# accuracy score on the training data
testing_data_accuracy = accuracy_score(Y_prediction_test,y_test)
#training_data_accuracy = accuracy_score(Y_prediction_train,y_train)
#print(training_data_accuracy*100)
print(testing_data_accuracy*100)

64.13043478260869

In [21]:
inputData = [60,108000]
#change the array to tuples
inputasNmpy = np.asarray(inputData)
#reshape the input to a matrix of 1 row * 2 col
inputReshape = inputasNmpy.reshape(1,2)
#error here becuse of the paramters
standardData = classifier.predict(inputReshape)
print(standardData)

[0]

C:\Users\1\AppData\Local\Temp\ipykernel_18136\2723602151.py:33: RuntimeWarning: overflow encountered in exp
  Y_pred = 1 / (1 + np.exp( - (X.dot(self.w) + self.b ) ))